html,
body {
    height: 100%;
}

body{
    background-image: url(../images/mountain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#jumbo {
    background: rgba(33, 191, 219, 0.7);

}

#title,
#instructions{
    color: rgb(0, 0, 0);
    text-align: center;
}

#imgbox,
#game {
    background: rgba(33, 191, 219, 0.9);
}
img{
    margin-top:20px;
    border: 1px solid black;
}

#currentWord,
#currentGuess {
    letter-spacing: 3px;
}

#who {
    padding-top: 20px;
}

p{
    font-family: 'fantasy';
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}