html,
body {
    height: 100%;
}

body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#jumbo {
    background: rgba(33, 191, 219, 0.5);

}

#title{
    color: rgb(0, 0, 0);

}

#instructions{

}

#gamebox{
    

}

#img,
#game {
    background: rgba(33, 191, 219, 0.5);
}
img{
    margin-top:20px;
    border: 1px solid black;
}



p{
    font-family: 'fantasy';
    font-weight: bold;
    text-align: center;
}